# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/
pip-wheel-metadata/
*.egg-info/

# Editor/OS files
.DS_Store
.vscode/
.idea/

# Build / output
output.json
dist/
build/
*.egg

# Docker
docker-compose.override.yml

